CMMClient/Service References/CalypsoServiceReference/CalypsoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hrsw.XiAnPro.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hrsw.XiAnPro.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7779/CalypsoService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Prism.Mvvm" />
  <xs:complexType name="Part">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Prism.Mvvm" base="q1:BindableBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" type="xs:int" />
          <xs:element minOccurs="0" name="CmmNo" type="xs:int" />
          <xs:element minOccurs="0" name="DrawingNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Flag" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNb" type="xs:int" />
          <xs:element minOccurs="0" name="Pass" type="xs:boolean" />
          <xs:element minOccurs="0" name="Placed" type="xs:boolean" />
          <xs:element minOccurs="0" name="ResultFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SlotNb" type="xs:int" />
          <xs:element minOccurs="0" name="Status" type="tns:PartStatus" />
          <xs:element minOccurs="0" name="TrayNb" type="xs:int" />
          <xs:element minOccurs="0" name="UseCmmNo" type="xs:int" />
          <xs:element minOccurs="0" name="XOffset" type="xs:double" />
          <xs:element minOccurs="0" name="YOffset" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Part" nillable="true" type="tns:Part" />
  <xs:simpleType name="PartStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PS_Empty" />
      <xs:enumeration value="PS_Idle" />
      <xs:enumeration value="PS_Placed" />
      <xs:enumeration value="PS_Wait" />
      <xs:enumeration value="PS_Measuring" />
      <xs:enumeration value="PS_Measured" />
      <xs:enumeration value="PS_Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PartStatus" nillable="true" type="tns:PartStatus" />
</xs:schema>