CMMClient/Service References/CalypsoServiceReference/CalypsoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7779/CalypsoService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalypsoServiceInterfaces" />
  <xs:element name="MakeOffsetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CalypsoServiceInterfaces" minOccurs="0" name="request" nillable="true" type="q1:CalypsoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeOffsetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeOffsetFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportFilename">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportFilenameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportFilenameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>