CMMClient/Service References/CalypsoServiceReference/CalypsoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalypsoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="PcdmisServiceEp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7779/CalypsoService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7779/CalypsoService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7779/CalypsoService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalypsoServiceInterfaces" />
      <xsd:import schemaLocation="http://localhost:7779/CalypsoService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hrsw.XiAnPro.Models" />
      <xsd:import schemaLocation="http://localhost:7779/CalypsoService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Prism.Mvvm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalypsoService_MakeOffsetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeOffsetFile" />
  </wsdl:message>
  <wsdl:message name="ICalypsoService_MakeOffsetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeOffsetFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICalypsoService_GetReportFilename_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportFilename" />
  </wsdl:message>
  <wsdl:message name="ICalypsoService_GetReportFilename_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportFilenameResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalypsoService">
    <wsdl:operation name="MakeOffsetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalypsoService/MakeOffsetFile" message="tns:ICalypsoService_MakeOffsetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalypsoService/MakeOffsetFileResponse" message="tns:ICalypsoService_MakeOffsetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportFilename">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalypsoService/GetReportFilename" message="tns:ICalypsoService_GetReportFilename_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalypsoService/GetReportFilenameResponse" message="tns:ICalypsoService_GetReportFilename_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PcdmisServiceEp" type="tns:ICalypsoService">
    <wsp:PolicyReference URI="#PcdmisServiceEp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="MakeOffsetFile">
      <soap12:operation soapAction="http://tempuri.org/ICalypsoService/MakeOffsetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportFilename">
      <soap12:operation soapAction="http://tempuri.org/ICalypsoService/GetReportFilename" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalypsoService">
    <wsdl:port name="PcdmisServiceEp" binding="tns:PcdmisServiceEp">
      <soap12:address location="net.tcp://localhost:6667/CalypsoService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6667/CalypsoService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>